Django==5.1.6
django-widget-tweaks==1.5.0
Pillow==10.1.0
python-dotenv==1.0.1
djangorestframework==3.14.0
django-filter==23.5
gunicorn==21.2.0
whitenoise==6.6.0
django-extensions==3.2.3
icalendar==5.0.11
