{% extends "base.html" %}

{% block content %}
  <h2>Felhasználói profil</h2>

  <h3>Üdv, {{ user.username }}!</h3>
  <p>Email címed: {{ user.email }}</p>

  <h3>Korábbi foglalásaid</h3>

  {% if appointments %}
    <ul>
      {% for appointment in appointments %}
        <li>
          <strong>{{ appointment.date }}</strong> - {{ appointment.barber.name }} - {{ appointment.service.name }}  
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Még nincs foglalásod.</p>
  {% endif %}
{% endblock %}
